body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.container { 
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    padding: 0 150px;
    color: #f9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.content1 {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    padding: 100px 150px;
    gap: 10px;
}

.text1 {
    justify-content: flex-start;
    width: 50%;
}

.awesome {
    font-size: 48px;
    color: #f9FAF8;
}

.awesome-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.content1-signup-button {
    background: #3882f6;
    color: white;
}

.content1 img {
    height: 50%;
    width: 50%;
}
